body {
  margin: 0;
}
.slider-wrapper {
  position: relative;
  max-width: 450px;
  height: auto;
  margin: 0 auto;
}

.slider {
  padding-bottom: 10px;
  display: flex;
  /* aspect-ratio: 16 / 9; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
  -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
  scrollbar-width: none; /* Hide scrollbar Firefox */
}
.slider-description {
  margin: 40px 0 10px;
  padding: 0 0.5rem;
  text-align: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  width: 450px;
  height: 480px;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  top: 50;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  border: 1px #000 solid;
}

.slider-nav a:hover {
  opacity: 1;
}

@media screen and (max-width: 499px) {
  .slider-wrapper {
    max-width: 100%;
    width: 100vw;
  }
  .slider {
    border-radius: 0;
    width: 100vw;
    height: auto;
  }
  .slider img {
    object-fit: center;
    width: 100vw;
  }
  .slider-description {
    padding: 0 0.5rem;
  }
}
